{% extends 'Home/layout.html' %}
{% load static %}
{% block content %}
<!-- single course section -->
<br />
<section class="single-course spad ">
     <div class="container">
          <nav class="navbar navbar-dark bg-dark">
               <div class="btn-group" role="group">
                    <button class="button-course btn    " onclick="location.href='../../course/{{ coursename }}'" type="button">
                         < </button>

               </div>
               <h2 style="color: white;">{{ coursename }}/{{ foldername }}</h2>
              
               <button class="button-course btn" onclick="location.href= '../../newfilepage/{{ coursename }}/{{ foldername }}'"
                    type="button">Add file</button>

          </nav>

          <div class="course-meta-area">
               <!-- table-->
               <section class="ftco-section">
                    <div class="container">
                         <div class="row">
                              <div class="col-md-12">
                                   <div class="table-wrap">
                                        <table class="table">
                                             <thead class="table-secondary">
                                                  <tr>
                                                       <th>ID no.</th>
                                                       <th>Name</th>
                                                       <th>Type</th>
                                                       <th>Email</th>
                                                       <th>&nbsp;</th>
                                                  </tr>
                                             </thead>
                                             <tbody>
                                                  {% for file in allFile %}
                                                  <tr class="alert table-light" role="alert">
                                                       <th scope="row">001</th>
                                                       <td>
                                                            <a href="{{ file.download_url }}" class="W" target="_blank">{{ file.filename }}</a>
                                                       </td>
                                                       <td>{{ file.type}}</td>
                                                       <td>markotto@email.com</td>
                                                       <td>
                                                            <a href="../../deletefile/{{coursename}}/{{foldername}}/{{file.filename}}" class="close"
                                                                 aria-label="Close">
                                                                 <span aria-hidden="true"><i
                                                                           class="fa fa-close"></i></span>
                                                            </a>
                                                       </td>
                                                  </tr>
                                                  {% endfor %}
                                             </tbody>
                                        </table>
                                   </div>
                              </div>
                         </div>
                    </div>
               </section>
               <!-- endtable-->

          </div>
     </div>
</section>



{% endblock%}