{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>web-site</title>
     <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet">
     <meta name="description" content="WebUni Education Template">
     <meta name="keywords" content="webuni, education, creative, html">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
          integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
          crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <link rel="stylesheet" href="../../static/css/styles.css" />
     <link rel="stylesheet" href="../../static/css/owl.carousel.css" />
     <link rel="stylesheet" href="../../static/css/font-awesome.min.css" />
     <!--====== Javascripts & Jquery ======-->
     <script src="../../static/js/mixitup.min.js"></script>
     <script src="../../static/js/circle-progress.min.js"></script>
     <script src="../../static/js/owl.carousel.min.js"></script>
     <script src="../../static/js/main.js"></script>

</head>

<body>
     <!-- Page Preloder -->
     <div id="preloder">
          <div class="loader"></div>
     </div>

     <!-- Header section -->
     
          <header class="header-section " style="background-color: blueviolet;">
               <div class="container">
               <div class="row">
                    <div class="col-lg-3 col-md-3">
                         <div class="site-logo">
                              <a href="/">
                                   <img src="../../static/img/logo.png" alt="">
                              </a>
                         </div>
                         <div class="nav-switch">
                              <i class="fa fa-bars"></i>
                         </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                         <a href="logout" class="site-btn header-btn">Logout</a>
                         <nav class="main-menu ">
                              <ul>
                                   <li><a href='/'>Home</a></li>
                                   <li><a href='profile'>Profile</a></li>
                              </ul>
                         </nav>
                    </div>
               </div>
          </div>
          </header>
     
     <!-- Header section end -->
     {% block content %}




     {% endblock %}
</body>

</html>