{% extends 'Home/layout.html' %}
{% load static %}
{% block content %}
<!-- single course section -->
<br />
<section class="single-course spad ">
  <div class="container">
    <nav class="navbar navbar-dark bg-dark">
      <div class="btn-group" role="group">
        <button class="button-course btn    " onclick="location.href='../../openfolder/{{namecourse}}/{{ namefolder }}'" type="button">
          < </button>
      </div>
      <h2 style="color: white;">Create File</h2>
      <div >
      </div>
    </nav>
    <div class="course-meta-area  ">
      <div class="row">

        <form class="card-body cardbody-color p-5" name="my-form" action="../../upload/{{ namecourse }}/{{ namefolder }}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}


          <div class="mb-3 row">
            <label for="InputFoldernamee" class="col-sm-3 col-form-label"> File Location  </label>
            <div class="col-sm-9 ">
             
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input"  name="material" aria-describedby="customFileInput" required>
                  <label class="custom-file-label" for="customFileInput">Select file</label>
                </div>

              </div>
              
            </div>
          </div>

          <div class="text-center" style="margin:40px 0px 0px 0px ;">
            <button type="submit" class="btn site-btn px-5 w-50" style="font-size: 18px;" name ="course" value="{{name}}" > Upload file</button>
          </div>
        </form>



      </div>
    </div>
  </div>
</section>





{% endblock%}