{% extends 'Home/layout.html' %}
{% load static %}
{% block content %}
<!-- single course section -->
<br />
<section class="single-course spad ">
     <div class="container">
          <nav class="navbar navbar-dark bg-dark">
               <div class="btn-group" role="group">
                    <button class="button-course btn    " onclick="location.href='/'" type="button">
                         < </button>
               </div>
               <h2 style="color: white;">Profile</h2>
               <button class="button-course btn     " onclick="location.href='editprofilepage'" type="button">edit Profile</button>
          </nav>
          <div class="course-meta-area  ">
               <div class="row">
                    <div class="col-sm-3 ">
                         <div class="text-center">
                              <img src="{{ user.image }}"  style="height: 200px; width: 200px;" 
                              alt="profile" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" >
                         </div>
                    </div>

                    <div class="col-sm-9 ">
                         {%if request.session.status == 'student'%}
                         <div>
                              <h3 style="display: inline-block; width: 50%; margin: 5px;"> ชื่อ : {{user.name}} </h3>
                              <h3 style="display: inline-block; margin: 5px;"> นามสกุล : {{user.lastname}}  </h3> <br>
                              <h3 style="display: inline-block; width: 50%; margin: 5px;"> เพศ : {{user.sex}}  </h3>
                              <h3 style="display: inline-block; margin: 5px;"> มัธยม : {{user.class}}  </h3> <br>
                              <h3 style="display: inline-block; width: 50%; margin: 5px;";> ห้อง : {{user.room}}  </h3>
                              <h3 style="display: inline-block; margin: 5px;"> เลขที่ : {{user.no}}  </h3> <br>
                              <h3 style="display: inline-block; width: 50%; margin: 5px;"> อีเมล : {{user.email}}</h3>
                              <h3 style="display: inline-block; margin: 5px;"> เบอร์โทร : {{user.phone}}  </h3>
                         </div>
                         <br>
                         {% endif %}

                         {%if request.session.status == 'teacher'%}
                         <div>
                              <h3 style="display: inline-block; width: 50%; margin: 5px;"> ชื่อ : {{user.name}} </h3>
                              <h3 style="display: inline-block; margin: 5px;"> นามสกุล : {{user.lastname}}  </h3> <br>
                              <h3 style="display: inline-block; width: 50%; margin: 5px;"> เพศ : {{user.sex}}</h3>
                              <h3 style="display: inline-block; margin: 5px;"> วิชา : {{user.subject}}</h3> <br>
                              <h3 style="display: inline-block; width: 50%; margin: 5px;"> อีเมล : {{user.email}}</h3> 
                              <h3 style="display: inline-block; margin: 5px;"> เบอร์โทร : {{user.phone}}</h3>
                         </div>
                         <br>
                         {% endif %}


                    </div>
               </div>
          </div>
     </div>
</section>


{% endblock%}