{% extends 'Home/layout.html' %}
{% load static %}
{% block content %}
<!-- single course section -->
<br />
<section class="single-course spad ">
     <div class="container">
          <nav class="navbar navbar-dark bg-dark">
               <div class="btn-group" role="group">
                    <button class="button-couse btn    " onclick="location.href='couse'" type="button"> < </button>
                    <button class="button-couse btn   " onclick="location.href='addstudentpage'" type="button">Add student</button>
               </div>
          </nav>
          <div class="course-meta-area">
               <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                         
                    </div>
               </div>
          </div>
     </div>
</section>



{% endblock%}