{% extends 'Home/layout.html' %}
{% load static %}

{% block content %}
<!-- categories section -->
<section class="categories-section spad">
     <div class="course-warp">
          <br />
          <div class="section-title">
               <div class="d-flex justify-content-between">
                    <div></div>
                    <h2>Student HomePage</h2>
                    <div></div>
               </div>
               
          </div>
          <div class="row course-items-area">
               <!-- course -->
               <div class="mix col-lg-3 col-md-4 col-sm-6 photo">
                    <a href="couse">
                         <div class="course-item">
                              <div class="course-thumb  "
                                   style="background-image: url(../../static/img/courses/4.jpg);">

                              </div>
                              <div class="course-info">
                                   <div class="course-text">
                                        <h5>IT Development</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                        <div class="students">120 Students</div>
                                   </div>
                                   <div class="course-author">
                                        <div class="ca-pic set-bg" data-setbg="img/authors/4.jpg"></div>
                                        <p>William Parker, <span>Developer</span></p>
                                   </div>
                              </div>
                         </div>
                    </a>

               </div>
               <!-- end course -->
          </div>
     </div>
</section>
<!-- categories section end -->


{% endblock%}