{% extends 'Home/layout.html' %}
{% load static %}

{% block content %}
<!-- categories section -->
<section class="categories-section spad">
     <div class="course-warp">
          <br />
          <div class="section-title">
               <div class="d-flex justify-content-between">
                    <div></div>
                    <h2>Teacher HomePage</h2>
                    <button class="button-course h-50" type="button" onclick="location.href='createcoursepage'"> Create
                         Course </button>
               </div>

          </div>
          <div class="row course-items-area">
               {% for course in my_course %}
               <!-- course -->
               <div class="mix col-lg-3 col-md-4 col-sm-6 photo">
                    <div class="course-item">
                         <div class="course-thumb" style="background-image: url({{course.imgcourse}}); background-size:cover;" >
                              <button type="button" onclick="location.href='deletecourse/{{course.coursename}}'"
                                   class="delete"> delete </button>


                         </div>
                         <a href="course/{{course.coursename}} ">
                              <div class="course-info">
                                   <div class="course-text">
                                        <h5>{{ course.coursename }}</h5>
                                        <p>{{ course.description }}</p>
                                        <div class="students">{{course.count}} Students</div>
                                   </div>
                                   <div class="course-author">
                                        <div class="ca-pic set-bg" data-setbg=""></div>
                                        <p>{{ course.teacherName }}, <span>{{ course.teacherSubject }} Teacher</span>
                                        </p>
                                   </div>
                              </div>
                    
                         </a>
                    </div>

               </div>
               <!-- end course -->
               {%endfor%}

          </div>
     </div>
</section>
<!-- categories section end -->


{% endblock%}